html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Naviigation Section */
.navbar {
    background-color: #fff;
    box-shadow: 1px 1px 2px #dadada;
}
#marginSides {
    padding: 1% 15%;
}
.navbar-nav .nav-item {
    margin: 5px 10px;
    font-weight: 500;
}

/* Community, Health and Sustainability */
.chs {
    margin: 30px;
}
.chs_section h1 {
    color: rgb(37, 40, 38);
}
#chs_content {
    margin-top: 80px;
}
.chs_texts_info {
    margin-top: 20px;
}
.chs_texts_info .chs_texts {
    font-size: 1rem;
    color: rgba(86,93,89);
    font-weight: 400;
    line-height: 2;
}
.sustain_texts .chs_texts {
    font-size: 1rem;
    color: rgba(86,93,89);
    font-weight: 400;
    line-height: 2;
}



/* Footer Section */
.footer_section {
    margin-top: 100px;
    background-color: rgba(230,239,235);
}
.footer_subscribe {
    margin-top: 30px;
}
.footer_subscribe input {
    padding: 20px 0;
    text-align: center;
    border-radius: 10px solid rgb(190, 190, 190);
}
.footer_content .footer_title {
    font-weight: 600
}
.footer_content .visit {
    margin-top: 100px;
}
.footer_subscribe .btn {
    background-color: rgba(62,101,83);
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 1rem;
    font-weight: 500;
}
.footer_social-link a{
    text-decoration: none;
    color: rgba(62,101,83);
    margin: 0 10px;
}
.footer_social-link i:hover {
    margin-left: 8px;
}
.footer__copy {
    text-align: center;
    font-size: .9rem;
    color: rgb(190, 190, 190);
    margin: 5rem 0 1rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 830px){
    .footer_subscribe button {
        margin-top: 10px;
    }
}
