html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Naviigation Section */
.navbar {
    background-color: #fff;
    box-shadow: 1px 1px 2px #dadada;
}
#marginSides {
    padding: 1% 15%;
}
.navbar-nav .nav-item {
    margin: 5px 10px;
    font-weight: 500;
}


/* Wholesale Section */
.contact-page {
    margin: 100px 0;
}
.submit_button .submit {
    background-color: rgba(62,101,83);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 1rem;
    font-weight: 500;
}

.contact-page__left-text {
    margin-top: 10px;
}
.contact-page__left .sec-title__title {
    font-size: 2.2rem;
    font-weight: 700;
    color:rgb(37, 40, 38);
}
.sec-title__title {
    margin-top: 10px;
}
.contact-page__left .contact-page__left-text {
    font-size: .9rem;
    color: rgba(86,93,89);
    font-weight: 400;
    line-height: 2;
}
.forms {
    margin: 50px 0;
}

/* Footer Section */
.foot section {
    margin-top: 100px;
}
.footer_subscribe {
    margin-top: 30px;
}
.footer_subscribe input {
    padding: 20px 0;
    text-align: center;
    border-radius: 10px solid rgb(190, 190, 190);
}
.footer_content .footer_title {
    font-weight: 600
}
.footer_content .visit {
    margin-top: 100px;
}
.footer_subscribe .btn {
    background-color: rgba(62,101,83);
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 1rem;
    font-weight: 500;
}
.footer__copy {
    text-align: center;
    font-size: .9rem;
    color: rgb(190, 190, 190);
    margin: 5rem 0 1rem;
    padding-bottom: 3rem;
}